@if (rssFeed()) {
<div class="mx-4 mb-4 flex flex-col">
  <div class="max-w-5xl w-full mx-auto flex justify-between items-center">
    <div class="flex items-center gap-2">
      <button
        (click)="location.back()"
        class="p-2 text-gray-600 hover:text-red-600 hover:bg-red-50 rounded-lg transition-colors duration-200 cursor-pointer flex items-center justify-center"
        title="Edit feed"
      >
        <i class="eva eva-chevron-left-outline" style="font-size: larger"></i>
      </button>
      <h1 class="text-xl font-bold">{{ rssFeed()!.name }}</h1>
    </div>
    <span
      class="border-2 rounded-sm px-1.5 py-0.5 font-mono text-gray-500 font-bold"
      style="font-size: small"
    >
      {{ rssFeed()!.articleCount }}
    </span>
  </div>
</div>
}

<app-article-list [getArticles]="getFeed" />
