<div class="bg-main rounded-lg shadow-md p-6 mx-auto w-full border border-main">
  <div class="flex justify-between items-center gap-4">
    <h2 class="text-xl font-bold text-main" [class.text-soft]="hasLastReadAt()">
      {{ article().title }}
    </h2>
    <button
      class="ml-4 bg-card hover:bg-gray-200 dark:hover:bg-slate-700 transition-colors rounded-full p-2 flex items-center justify-center"
      title="Save"
      (click)="updateArticleSaved()"
    >
      <i
        class="eva"
        style="font-size: larger"
        [class.eva-bookmark]="article().save"
        [class.eva-bookmark-outline]="!article().save"
        [class.text-amber-300]="article().save"
        [class.text-soft]="!article().save"
      ></i>
    </button>
  </div>
  <p class="text-soft mb-2 line-clamp-5">{{ article().description }}</p>
  <div
    class="flex flex-col sm:flex-row sm:flex-wrap sm:justify-between sm:items-center gap-2 mb-2"
  >
    <div class="flex items-center gap-2 min-w-0 flex-1">
      <i class="eva eva-link-2 text-soft shrink-0"></i>
      <a
        class="text-sm text-blue-600 dark:text-blue-400 hover:underline block flex-1 min-w-0 truncate"
        [href]="article().sourceUrl"
        target="_blank"
        (click)="onLinkClick()"
        >{{ sourceUrlShort() }}</a
      >
    </div>
    <div class="text-sm text-soft">
      {{ getDateFromUtc(article().publishedAt) }}
    </div>
  </div>
</div>
