<div class="bg-white rounded-lg shadow-md p-6 mx-auto w-full">
  <div class="flex justify-between items-center gap-4">
    <h2 class="text-xl font-bold" [class.text-gray-500]="hasLastReadAt()">
      {{ article().title }}
    </h2>
    <button
      class="ml-4 bg-gray-100 hover:bg-gray-200 transition-colors rounded-full p-2 flex items-center justify-center"
      title="Save"
      (click)="onSaveChange.emit(!article().save)"
    >
      <i
        class="eva"
        style="font-size: larger"
        [class.eva-bookmark]="article().save"
        [class.eva-bookmark-outline]="!article().save"
        [class.text-amber-300]="article().save"
        [class.text-gray-600]="!article().save"
      ></i>
    </button>
  </div>
  <p class="text-gray-700 mb-2 line-clamp-5">{{ article().description }}</p>
  <div class="flex flex-wrap justify-between items-center gap-2 mb-2">
    <div class="flex items-center gap-2">
      <i class="eva eva-link-2"></i>
      <a
        class="text-sm text-blue-600 hover:underline block"
        href="{{ article().sourceUrl }}"
        target="_blank"
        (click)="onLinkOpen.emit()"
        >{{ sourceUrlShort() }}</a
      >
    </div>
    <div class="text-sm text-gray-500">
      {{ getDateFromUtc(article().publishedAt) }}
    </div>
  </div>
</div>
