<div class="bg-white rounded-lg shadow-md p-6 mx-auto w-full">
  <div class="flex justify-between items-center">
    <h2 class="text-xl font-bold">{{ article().title }}</h2>
    <button
      class="ml-4 bg-gray-100 hover:bg-gray-200 rounded-full p-2"
      title="Save"
      (click)="onSaveChange.emit(!article().save)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        [class]="article().save ? 'text-amber-300' : 'text-gray-600'"
        [attr.fill]="article().save ? 'currentColor' : 'none'"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 5v14l7-7 7 7V5a2 2 0 00-2-2H7a2 2 0 00-2 2z"
        />
      </svg>
    </button>
  </div>
  <p class="text-gray-700 mb-2 line-clamp-5">{{ article().description }}</p>
  <div class="flex flex-wrap justify-between items-center gap-2 mb-2">
    <div class="flex items-center gap-2">
      <img class="rotate-[-45deg]" ngSrc="/link.svg" height="16" width="16" />
      <a
        class="text-sm text-blue-600 hover:underline block"
        href="{{ article().sourceUrl }}"
        target="_blank"
        (click)="onLinkOpen.emit()"
        >{{ sourceUrlShort() }}</a
      >
    </div>
    <div class="text-sm text-gray-500">
      {{ getDateFromUtc(article().publishedAt) }}
    </div>
  </div>
  <div class="flex flex-wrap gap-2">
    @for (tag of article().tags; track tag) {
    <span class="bg-gray-200 text-gray-700 px-2 py-1 rounded-full text-xs">{{
      tag
    }}</span>
    }
  </div>
</div>
