.router-link {
  padding: 0.5rem 0.75rem;
  color: var(--color-gray-900);
  border-radius: var(--radius-lg);

  &:hover {
    background-color: var(--color-gray-100);
  }

  &.router-link-active {
    color: var(--color-blue-900);
  }
}
